.navbar{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 8px 4%;
}
 .title{
    display: flex;
    font-size: 40px;
    justify-content: center;
    padding-left: 50px;
    
}
.navbar .logo{
    width: 150px;
    justify-content: left;
    align-items: center;
}

