.list-table-format{
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
    align-items: center;
    gap: 5px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 15px;
}
.list-table-format.title{
    background-color: #f9f9f9;
    
}

@media(max-width:600px){

    .list-table-format{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
    .list-table-format.title{
        display: none;
    }
}